/* Common styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato Regular", sans-serif;
  min-width: 1020px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Header styles */

.header {
  height: 94px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.header .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: -0.7px;
  cursor: pointer;
  color: #ffffff;
}

.logo::after {
  content: "*";
  color: #f06c64;
}

.nav_list {
  padding: 0;
  padding-top: 11px;
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  list-style: none;
  color: #ffffff;
}

.nav_item {
  height: 30px;
  margin-left: 28.67px;
  margin-top: 18px;
  position: relative;
}

.nav_item a {
  display: block;
  cursor: pointer;
  transition: 0.3s ease-out;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
  color: #ffffff;
}

.nav_item a:hover {
  color: #f06c64;
}

.nav_item:first-child {
  margin-left: 0;
}

.nav_item:not(:last-child)::after {
  content: ".";
  display: block;
  position: absolute;
  right: -15px;
  top: -3px;
  color: #494e62;
}

.nav_item:last-child::after {
  width: 0;
}

/* Slider styles */

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  position: relative;
  box-sizing: border-box;
}

.slider .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 58px;
  padding-top: 53px;
}

.phone_vertical {
  background-image: url("assets/images/phone_vertical.png");
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
  width: 240px;
  height: 483px;
  left: -6px;
}

.phone_horizontal {
  background-image: url("assets/images/phone_horizontal.png");
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
  width: 483px;
  height: 240px;
  left: 6px;
}

.vertical_inside_image {
  position: absolute;
  top: 65px;
  left: 14px;
}

.horizontal_inside_image {
  position: absolute;
  left: 60px;
  top: 13px;
}

.arrow {
  width: 16px;
  height: 27px;
  background-image: url("assets/images/arrow.png");
  background-repeat: no-repeat;
  background-color: inherit;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: 0.3 ease-out;
}

.arrow:hover {
  filter: brightness(50%);
}

.arrow:focus {
  outline: none;
}

.right_arrow {
  transform: rotate(180deg);
}

/* Services styles */

.services {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
  padding-bottom: 48px;
  padding-top: 60px;
  color: #666d89;
}

.services_title {
  font-size: 30px;
  padding-bottom: 21px;
  font-weight: bold;
  font-family: "Lato Bold";
  color: #666d89;
}

.services_subtitle {
  font-family: "Lato Light";
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;

  margin: 0;
  padding: 0 0 48px 0;
}

.services_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  padding-top: 36px;
  padding: 0;
}

.services_item {
  position: relative;
  padding-left: 80px;
  height: 103px;
  overflow: hidden;
}

.services_image_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 59px;
  height: 59px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #666d89;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_title {
  font-family: "Lato Bold";
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
}

.item_subtitle {
  font-size: 12px;
  line-height: 21.56px;
  color: #767e9e;
  text-align: justify;
}
